.crc-cloud-form1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.crc-cloud-form1-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.crc-cloud-form1-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.crc-cloud-form1-text {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.crc-cloud-form1-link {
  display: contents;
}
.crc-cloud-form1-image {
  right: -84px;
  width: 64px;
  bottom: 23px;
  height: 83px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.crc-cloud-form1-text01 {
  font-style: italic;
  margin-top: 0nits;
  font-weight: 400;
  margin-bottom: 0nits;
}
.crc-cloud-form1-text02 {
  margin-top: var(--dl-space-space-tenunits);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-tenunits);
}
.crc-cloud-form1-text07 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-text08 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-text09 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-text10 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-text11 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-text12 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-text13 {
  font-style: normal;
  font-weight: 700;
}
.crc-cloud-form1-link1 {
  text-decoration: underline;
}
.crc-cloud-form1-link2 {
  text-decoration: underline;
}
.crc-cloud-form1-text54 {
  font-style: normal;
  font-weight: 700;
}
