.u-section-1 .u-sheet-1 {
  min-height: 233px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 10px 979px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  text-transform: none;
  width: 681px;
  margin: -12px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  width: 681px;
  font-size: 3rem;
  margin: 26px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 779px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 559px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 451px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
    margin: 10px 0 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-right: 251px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 15px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-bottom: 34px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0 0 0px rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0 0 0px rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 1694px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 97px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 113px 446px 0 266px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: -36px 874px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 341px 0 266px;
}

.u-section-2 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: -23px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px auto 0 110px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -87px 367px 0 266px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0 367px 0 266px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 16px 0 0 266px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: -641px 874px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 4px 874px 0 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-6 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-7 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-8 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-9 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-10 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-11 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-12 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-13 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-14 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-15 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-16 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 57px 948px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  margin: 0 874px 0 0;
}

.u-section-2 .u-list-icon-17 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-18 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-19 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-20 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-21 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-22 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-list-icon-23 {
  color: rgb(132, 209, 82) !important;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -64px 651px 0 266px;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: 0 -86px 0 266px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 24px 294px 0 266px;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 0 60px 266px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1799px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 52px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 281px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 674px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 1px;
    margin-right: 176px;
    margin-left: 232px;
  }

  .u-section-2 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-top: -25px;
  }

  .u-section-2 .u-image-2 {
    width: 90px;
    height: 90px;
    margin-top: -89px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -66px;
    margin-right: 202px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 202px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 232px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -790px;
    margin-right: 674px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 674px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 748px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 674px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 81px;
    margin-right: 486px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: -65px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 129px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-bottom: 56px;
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 39px;
    margin-right: 101px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -30px;
    margin-right: 454px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 6px;
    margin-right: -5px;
    margin-left: 192px;
  }

  .u-section-2 .u-image-1 {
    width: 60px;
    height: 60px;
    margin-top: -29px;
  }

  .u-section-2 .u-image-2 {
    width: 60px;
    height: 60px;
    margin-top: -60px;
    margin-left: 60px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -25px;
    margin-right: 22px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 21px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    margin-top: -825px;
    margin-right: 454px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 558px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin-top: 27px;
    margin-right: 528px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    margin-right: 454px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 213px;
    margin-right: 306px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
    margin-right: -70px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 12px;
    margin-right: -52px;
    margin-left: 192px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
    margin-bottom: 42px;
    margin-left: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2146px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 1227px;
    margin-right: 274px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1251px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1222px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 66px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -1276px;
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 34px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 355px;
    margin-right: 102px;
    margin-left: 172px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 206px;
    margin-left: 172px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -399px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -553px;
    margin-right: 318px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 102px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1833px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 16px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 1166px;
    margin-right: 74px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -1165px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1144px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 60px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -1204px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
    margin-top: 336px;
    margin-right: -96px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.75rem;
    margin-right: 8px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
    margin-top: -152px;
    margin-right: 178px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 0.75rem;
    margin-right: 178px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.875rem;
    margin-top: -612px;
    margin-right: 117px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.75rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.875rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-15 {
    font-size: 0.75rem;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 754px;
}

.u-section-3 .u-text-1 {
  margin: 60px 464px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 57px;
  min-height: 16px;
  width: 57px;
  min-width: 16px;
  margin: -43px auto 0 378px;
}

.u-section-3 .u-icon-1 {
  height: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 341px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  min-height: 447px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 123px;
    margin-right: 264px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 13px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 74px;
    margin-right: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: -115px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 655px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: 283px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -114px;
    margin-bottom: 12px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 665px;
  }

  .u-section-3 .u-group-1 {
    min-height: 521px;
    margin-top: 139px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 8px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 611px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 464px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 403px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 886px 0 0;
}

.u-section-4 .u-group-1 {
  width: 892px;
  min-height: 140px;
  height: auto;
  margin: -24px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: -92px 916px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 886px 0 0;
}

.u-section-4 .u-group-2 {
  width: 892px;
  min-height: 140px;
  height: auto;
  margin: -24px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: -92px 916px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 886px 0 0;
}

.u-section-4 .u-group-3 {
  width: 892px;
  min-height: 140px;
  height: auto;
  margin: -24px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 1rem;
  margin: -92px 916px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 686px;
  }

  .u-section-4 .u-group-1 {
    width: 677px;
    height: auto;
  }

  .u-section-4 .u-text-5 {
    margin-right: 716px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 686px;
  }

  .u-section-4 .u-group-2 {
    width: 677px;
    height: auto;
  }

  .u-section-4 .u-text-9 {
    margin-right: 716px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 686px;
  }

  .u-section-4 .u-group-3 {
    width: 677px;
    height: auto;
  }

  .u-section-4 .u-text-13 {
    margin-right: 716px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 54px;
    margin-right: 44px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 466px;
  }

  .u-section-4 .u-group-1 {
    width: 457px;
    min-height: 145px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -121px;
    margin-right: 496px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
    margin-right: 466px;
  }

  .u-section-4 .u-group-2 {
    width: 457px;
    min-height: 145px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -121px;
    margin-right: 496px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.125rem;
    margin-right: 466px;
  }

  .u-section-4 .u-group-3 {
    width: 457px;
    min-height: 145px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: -121px;
    margin-right: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 644px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 286px;
  }

  .u-section-4 .u-group-1 {
    min-height: 187px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-weight: normal;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 40px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -166px;
    margin-right: 316px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 286px;
  }

  .u-section-4 .u-group-2 {
    min-height: 187px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    font-weight: normal;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 40px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -166px;
    margin-right: 316px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 286px;
  }

  .u-section-4 .u-group-3 {
    min-height: 187px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    font-weight: normal;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.25rem;
    margin-top: 40px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -166px;
    margin-right: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 19px;
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 456px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-right: 86px;
  }

  .u-section-4 .u-group-1 {
    min-height: 127px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -108px;
    margin-right: 116px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-right: 86px;
  }

  .u-section-4 .u-group-2 {
    min-height: 127px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.875rem;
    margin-top: -108px;
    margin-right: 116px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
    margin-right: 86px;
  }

  .u-section-4 .u-group-3 {
    min-height: 127px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-12 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-13 {
    font-size: 0.875rem;
    margin-top: -108px;
    margin-right: 116px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 670px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 464px 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 341px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 473px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  margin: 28px 30px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: -6px 479px 0 428px;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: -96px 191px 0 753px;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: -84px 772px 0 30px;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  margin: 30px 374px 0 428px;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  margin: -96px 774px 0 28px;
}

.u-section-5 .u-list-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 341px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-group-2 {
  min-height: 473px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  margin: 28px 30px 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 30px 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.25rem;
  margin: 3px 772px 0 30px;
}

.u-section-5 .u-text-14 {
  font-size: 1.25rem;
  margin: 33px 774px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 13px;
    min-height: 542px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 231px;
    margin-left: 371px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 60px;
    margin-left: 684px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: 231px;
    margin-left: 371px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-5 .u-list-2 {
    margin-left: initial;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-13 {
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-5 .u-text-14 {
    margin-right: 602px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 44px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    margin-bottom: -221px;
    min-height: 763px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    margin-right: 105px;
    margin-left: 382px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 18px;
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: -198px;
    margin-right: 382px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 156px;
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: -222px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-5 .u-list-2 {
    margin-bottom: 60px;
    margin-left: initial;
  }

  .u-section-5 .u-group-2 {
    margin-top: -167px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 279px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-11 {
    width: auto;
  }

  .u-section-5 .u-text-12 {
    width: auto;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-right: 382px;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-right: 382px;
    margin-bottom: -236px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin: -61px -3px -61px auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-5 {
    margin-right: 15px;
    margin-left: 292px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 344px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 202px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 202px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 202px;
  }

  .u-section-5 .u-list-2 {
    margin-top: -191px;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-13 {
    margin-right: 202px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: -163px;
    min-height: 926px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 68px;
    margin-right: 107px;
    margin-left: 1px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 14px;
    margin-right: 144px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -204px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 248px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-9 {
    font-size: 0.875rem;
    margin-top: -142px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-list-2 {
    margin-top: -105px;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 73px;
  }

  .u-section-5 .u-group-2 {
    min-height: 276px;
    margin-top: 20px;
    margin-bottom: -223px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 5px;
  }

  .u-section-5 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-13 {
    font-size: 0.875rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-14 {
    font-size: 0.875rem;
    margin: 14px 1px -169px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 474px;
}

.u-section-6 .u-text-1 {
  margin: 60px 464px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 341px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  min-height: 287px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 28px 30px 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 30px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 13px;
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 44px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 66px;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-group-1 {
    margin-top: -47px;
    min-height: 331px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 30px;
  }
}