.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  height: 111px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-intro {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-hero {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container {
  width: 1172px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: #040404;
  width: 562px;
  margin-bottom: 0px;
}
.home-text001 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text002 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #c9c9c9;
}
.home-text003 {
  color: rgb(16, 16, 16);
}
.home-cta-btn1 {
  color: var(--dl-color-gray-black);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-cv {
  width: 100%;
  height: 1298px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-container02 {
  right: 102px;
  width: 757px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 95px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text004 {
  width: 667px;
  font-size: 48px;
  font-style: normal;
  text-align: center;
  font-family: Overpass;
  font-weight: 900;
}
.home-container03 {
  top: 450px;
  left: 50px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text005 {
  align-self: flex-start;
}
.home-container04 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text006 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container05 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  flex-direction: column;
}
.home-text009 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul01 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container06 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text011 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul02 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container07 {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text014 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul03 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container08 {
  width: 199px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text017 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul04 {
  width: 147px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container09 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text019 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul05 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container10 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text021 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul06 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container11 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text024 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul07 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container12 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text030 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul08 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container13 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text033 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul09 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container14 {
  top: 50px;
  left: 50px;
  width: 198px;
  height: 207px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-container15 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 150px;
  align-self: flex-start;
  object-fit: cover;
}
.home-image1 {
  width: 150px;
  align-self: flex-start;
  object-fit: cover;
}
.home-container16 {
  top: 150px;
  right: 50px;
  width: 856px;
  height: 1086px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text038 {
  align-self: flex-start;
  padding-left: 0px;
}
.home-text039 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
}
.home-text054 {
  align-self: flex-start;
  padding-left: 0px;
}
.home-container17 {
  top: 650px;
  left: 0px;
  width: 612.90625px;
  height: 212.78125px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-container18 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-link4 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}
.home-text055 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
}
.home-text056 {
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: 700;
}
.home-text057 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
}
.home-text058 {
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: 700;
}
.home-text059 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
}
.home-container19 {
  top: 0px;
  left: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-text060 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 700;
}
.home-text061 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
}
.home-text062 {
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: 700;
}
.home-text063 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
}
.home-text064 {
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: 700;
}
.home-text065 {
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
}
.home-learning {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.home-container20 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text066 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-steps {
  width: 687px;
  height: 178px;
  display: flex;
  padding: 0px;
  position: relative;
  max-width: 1400px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container21 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text067 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
}
.home-text068 {
  left: 16px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text073 {
  color: #06904e;
}
.home-text074 {
  color: #06904e;
}
.home-text075 {
  color: #06904e;
}
.home-step1 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text077 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
}
.home-text078 {
  left: 22px;
  color: rgb(210, 110, 0);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text079 {
  color: #06904e;
}
.home-text080 {
  color: #06904e;
}
.home-text081 {
  color: #06904e;
}
.home-step2 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text083 {
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text084 {
  left: 0px;
  color: rgb(210, 110, 0);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text085 {
  color: #06904e;
}
.home-step3 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text087 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
}
.home-text088 {
  left: 0px;
  color: #06904e;
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-step4 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text089 {
  width: auto;
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
}
.home-text090 {
  left: 0px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text091 {
  color: #06904e;
}
.home-services {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text093 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-pricing-card-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: auto;
  height: 550px;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price {
  width: 300px;
  font-size: 24px;
}
.home-card-content {
  width: 100%;
  height: 261px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature {
  width: 283px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name {
  font-style: normal;
  margin-top: var(--dl-space-space-tenunits);
  font-family: Arial;
  font-weight: 400;
}
.home-choose {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-700);
}
.home-choose01 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card1 {
  width: auto;
  height: 550px;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price1 {
  width: 300px;
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
}
.home-card-content1 {
  width: 100%;
  height: 263px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature1 {
  width: 283px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name1 {
  margin-top: var(--dl-space-space-fiveunits);
  font-family: Arial;
}
.home-choose02 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-700);
}
.home-choose03 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card2 {
  width: auto;
  height: 550px;
  display: flex;
  min-width: 350px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price2 {
  color: var(--dl-color-gray-black);
  width: 300px;
  font-size: 24px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.home-card-content2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature2 {
  width: 283px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name2 {
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
}
.home-choose04 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-700);
}
.home-choose05 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
.home-pricing-card-container1 {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card3 {
  width: auto;
  height: 500px;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price3 {
  width: 300px;
  font-size: 24px;
}
.home-card-content3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature3 {
  width: 283px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name3 {
  font-family: Arial;
}
.home-choose06 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-700);
}
.home-choose07 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card4 {
  width: auto;
  height: 500px;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price4 {
  width: 300px;
  font-size: 24px;
}
.home-card-content4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature4 {
  width: 283px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name4 {
  font-family: Arial;
}
.home-choose08 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-700);
}
.home-choose09 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card5 {
  width: auto;
  height: 500px;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading5 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price5 {
  width: 300px;
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
}
.home-card-content5 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature5 {
  width: 283px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name5 {
  font-family: Arial;
}
.home-choose10 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-700);
}
.home-choose11 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
.home-hire {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #194370;
}
.home-container22 {
  width: 100%;
  height: 819px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  background-size: cover;
  justify-content: center;
}
.home-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  margin-top: 0px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text094 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.home-container23 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text095 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text096 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text097 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.home-container24 {
  height: 200px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.home-text098 {
  width: 250px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text099 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text100 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text101 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text102 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text103 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-text104 {
  top: 44px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 630px;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.home-container25 {
  flex: 0 0 auto;
  width: auto;
  height: 768px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-container26 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  margin-top: var(--dl-space-space-tripleunit);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text105 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.home-text106 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
}
.home-container27 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text107 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text108 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text109 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.home-container28 {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.home-text110 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text111 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text112 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text113 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text114 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text115 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-pricing-card2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  margin-top: var(--dl-space-space-tripleunit);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text116 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.home-text117 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
}
.home-container29 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text118 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text119 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text120 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.home-container30 {
  height: 200px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text121 {
  width: 250px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text122 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text123 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text124 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text125 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-container31 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container32 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link7 {
  text-decoration: none;
}
.home-container33 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text126 {
  font-weight: 700;
  margin-bottom: 24px;
}
.home-text127 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-socials {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .home-heading {
    text-align: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    text-align: center;
  }
  .home-text002 {
    text-align: center;
  }
  .home-text004 {
    text-align: center;
  }
  .home-text067 {
    text-align: center;
  }
  .home-text077 {
    text-align: center;
  }
  .home-text083 {
    text-align: center;
  }
  .home-text087 {
    text-align: center;
  }
  .home-text089 {
    text-align: center;
  }
  .home-pricing-card-container {
    justify-content: center;
  }
  .home-card {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card1 {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card2 {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-pricing-card-container1 {
    justify-content: center;
  }
  .home-card3 {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card4 {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card5 {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container32 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-cta-btn {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-cta-btn1 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-learning {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container21 {
    flex-direction: column;
  }
  .home-step {
    padding: var(--dl-space-space-unit);
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step3 {
    padding: var(--dl-space-space-unit);
  }
  .home-step4 {
    padding: var(--dl-space-space-unit);
  }
  .home-heading-container {
    width: 100%;
  }
  .home-card {
    margin-right: 0px;
  }
  .home-card1 {
    margin-right: 0px;
  }
  .home-card2 {
    margin-right: 0px;
  }
  .home-card3 {
    margin-right: 0px;
  }
  .home-card4 {
    margin-right: 0px;
  }
  .home-card5 {
    margin-right: 0px;
  }
  .home-container22 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container31 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container32 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-learning {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text066 {
    text-align: center;
  }
  .home-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text093 {
    text-align: center;
  }
  .home-container22 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text104 {
    text-align: center;
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container31 {
    align-items: center;
    flex-direction: column;
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container32 {
    margin-right: 0px;
  }
  .home-container33 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
