.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-intro {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-hero {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container {
  width: 1172px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: #040404;
  width: 562px;
  margin-bottom: 0px;
}
.home-text001 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text002 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #c9c9c9;
}
.home-text003 {
  color: rgb(16, 16, 16);
}
.home-cta-btn1 {
  color: var(--dl-color-gray-black);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-cv {
  width: 1786px;
  height: 1157px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: 1086px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container03 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 0px;
  flex-direction: column;
}
.home-container04 {
  width: 292px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text004 {
  font-size: 32px;
  align-self: flex-start;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 130px;
  align-self: flex-start;
  object-fit: cover;
}
.home-image1 {
  width: 130px;
  align-self: flex-start;
  object-fit: cover;
}
.home-text005 {
  font-size: 32px;
  align-self: flex-start;
}
.home-container06 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text006 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container08 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  flex-direction: column;
}
.home-text009 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul01 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container09 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text011 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul02 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container10 {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text014 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul03 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container11 {
  width: 199px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text017 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul04 {
  width: 147px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container12 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text019 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul05 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container13 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text021 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul06 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container14 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text024 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul07 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container15 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text030 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul08 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container16 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-text033 {
  align-self: flex-start;
  font-weight: 700;
}
.home-ul09 {
  width: 88px;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container17 {
  width: 856px;
  height: 1086px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text037 {
  width: auto;
  font-size: 48px;
  align-self: flex-start;
  text-align: center;
  font-family: Overpass;
}
.home-text038 {
  font-size: 32px;
  align-self: flex-start;
  padding-left: 0px;
}
.home-text039 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-ul10 {
  width: 692px;
  align-self: flex-start;
  list-style-type: disc;
}
.home-text054 {
  font-size: 32px;
  align-self: flex-start;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container18 {
  width: 631px;
  height: 250px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: 1.5em;
  flex-direction: row;
  justify-content: center;
}
.home-container19 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-link4 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}
.home-text055 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-text056 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: bold;
}
.home-text057 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-text058 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: bold;
}
.home-text059 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-container20 {
  width: 390px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text060 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
  font-weight: bold;
}
.home-text061 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-text062 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: bold;
}
.home-text063 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-text064 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  font-family: Arial;
  font-weight: bold;
}
.home-text065 {
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-learning {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-container21 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text066 {
  font-size: 32px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-steps {
  width: 687px;
  height: 178px;
  display: flex;
  padding: 0px;
  position: relative;
  max-width: 1400px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container22 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text067 {
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text068 {
  left: 16px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text073 {
  color: #06904e;
}
.home-text074 {
  color: #06904e;
}
.home-text075 {
  color: #06904e;
}
.home-step1 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text077 {
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text078 {
  left: 16px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text079 {
  color: #06904e;
}
.home-text080 {
  color: #06904e;
}
.home-text081 {
  color: #06904e;
}
.home-step2 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text083 {
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text084 {
  left: 16px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text085 {
  color: #06904e;
}
.home-step3 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text087 {
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text088 {
  left: 16px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-step4 {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.home-text089 {
  height: auto;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text090 {
  left: 16px;
  color: rgb(6, 144, 78);
  bottom: 0px;
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}
.home-text091 {
  color: #06904e;
}
.home-services {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-pricing-card-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 0px;
  height: 450px;
  display: flex;
  min-width: 350px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-card-heading {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price {
  width: 300px;
  font-size: 24px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.home-card-content {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-name {
  font-style: normal;
  margin-top: 0px;
  font-family: Arial;
  font-weight: 400;
}
.home-choose {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card1 {
  width: 0px;
  height: 450px;
  display: flex;
  min-width: 350px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-card-heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price1 {
  width: 300px;
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
}
.home-card-content1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-name1 {
  margin-top: 0px;
  font-family: Arial;
}
.home-choose1 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card2 {
  width: 0px;
  height: 450px;
  display: flex;
  min-width: 350px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-card-heading2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price2 {
  color: var(--dl-color-gray-black);
  width: 300px;
  font-size: 24px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.home-card-content2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-name2 {
  font-style: normal;
  margin-top: 0px;
  font-family: Arial;
  font-weight: 400;
}
.home-choose2 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
.home-card3 {
  width: 0px;
  height: 450px;
  display: flex;
  min-width: 350px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-card-heading3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price3 {
  width: 300px;
  font-size: 24px;
}
.home-card-content3 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-name3 {
  margin-top: 0px;
  font-family: Arial;
}
.home-choose3 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card4 {
  width: 0px;
  height: 450px;
  display: flex;
  min-width: 350px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-card-heading4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price4 {
  width: 300px;
  font-size: 24px;
}
.home-card-content4 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-name4 {
  margin-top: 0px;
  font-family: Arial;
}
.home-choose4 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-card5 {
  width: 0px;
  height: 450px;
  display: flex;
  min-width: 350px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-card-heading5 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-price5 {
  width: 300px;
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
}
.home-card-content5 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-name5 {
  margin-top: 0px;
  font-family: Arial;
}
.home-choose5 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
.home-hire {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #194370;
}
.home-container23 {
  width: 100%;
  height: 819px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  background-size: cover;
  justify-content: center;
}
.home-text094 {
  top: 44px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 630px;
  margin: auto;
  position: absolute;
  font-size: 48px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.home-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  margin-top: 0px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text095 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.home-container24 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text096 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text097 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text098 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.home-container25 {
  height: 200px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.home-text099 {
  width: 250px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text100 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text101 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text102 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text103 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text104 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  margin-top: var(--dl-space-space-tripleunit);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text105 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.home-text106 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
}
.home-container26 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text107 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text108 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text109 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.home-container27 {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.home-text110 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text111 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text112 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text113 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text114 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text115 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-pricing-card2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  margin-top: var(--dl-space-space-tripleunit);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text116 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.home-text117 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 0px;
  font-weight: 300;
}
.home-container28 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text118 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text119 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text120 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.home-container29 {
  height: 200px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text121 {
  width: 250px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text122 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text123 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text124 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text125 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-container30 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container31 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link7 {
  text-decoration: none;
}
.home-container32 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text126 {
  font-weight: 700;
  margin-bottom: 24px;
}
.home-text127 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-socials {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 1600px) {
  .home-cv {
    width: 100%;
  }
  .home-container03 {
    height: 1062px;
  }
  .home-container04 {
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container18 {
    padding-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 1200px) {
  .home-cv {
    width: 100%;
  }
  .home-image {
    width: 120px;
  }
  .home-image1 {
    width: 120px;
  }
  .home-text038 {
    font-size: 2em;
  }
  .home-ul10 {
    padding-left: var(--dl-space-space-tripleunit);
  }
  .home-container18 {
    padding-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .home-heading {
    text-align: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    text-align: center;
  }
  .home-text002 {
    text-align: center;
  }
  .home-cv {
    width: 100%;
    height: 1187px;
  }
  .home-container04 {
    margin-left: 0px;
  }
  .home-container17 {
    top: 28px;
    right: 49px;
    width: 661px;
    height: 1167px;
  }
  .home-text037 {
    width: auto;
    align-self: flex-start;
    text-align: center;
    padding-left: 0px;
  }
  .home-ul10 {
    width: 620px;
  }
  .home-container18 {
    top: 53px;
    left: 1px;
    position: static;
  }
  .home-container19 {
    height: 250px;
    position: static;
    align-self: flex-start;
  }
  .home-container20 {
    top: 0px;
    left: 244px;
    height: 250px;
    position: static;
  }
  .home-learning {
    height: 313px;
    background-color: #ffffff;
  }
  .home-text067 {
    text-align: center;
  }
  .home-text077 {
    text-align: center;
  }
  .home-text083 {
    text-align: center;
  }
  .home-text087 {
    text-align: center;
  }
  .home-text089 {
    text-align: center;
  }
  .home-pricing-card-container {
    justify-content: center;
  }
  .home-card {
    height: 400px;
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card1 {
    height: 400px;
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card2 {
    height: 400px;
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card3 {
    height: 400px;
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card4 {
    height: 400px;
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-card5 {
    height: 400px;
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-hire {
    width: 905px;
  }
  .home-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-unit);
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    padding: var(--dl-space-space-unit);
    max-width: 100%;
    align-items: center;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container31 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-cta-btn {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-cta-btn1 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-cv {
    width: 100%;
    height: 1294px;
  }
  .home-container02 {
    width: 100%;
    height: 193px;
  }
  .home-container03 {
    top: 208px;
    left: 43px;
    width: 172px;
    height: 194px;
    position: static;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
  }
  .home-container04 {
    width: 157px;
    align-self: center;
  }
  .home-text004 {
    width: 145px;
    height: 53px;
    font-size: 24px;
  }
  .home-image {
    width: 80px;
  }
  .home-image1 {
    width: 80px;
  }
  .home-text005 {
    font-size: 24px;
  }
  .home-container06 {
    width: 124px;
    height: 331px;
    margin-right: Unit;
    flex-direction: column;
  }
  .home-container17 {
    left: 84px;
    width: 539px;
    bottom: -303px;
    height: 783px;
    position: static;
    margin-top: 0px;
  }
  .home-text037 {
    color: var(--dl-color-gray-black);
    width: 368px;
    height: 261px;
    font-size: 26px;
    font-style: normal;
    margin-top: 0px;
    text-align: left;
    font-family: Overpass;
    font-weight: 900;
    margin-right: 0px;
  }
  .home-text038 {
    font-size: 24px;
  }
  .home-text039 {
    font-size: 16px;
  }
  .home-ul10 {
    width: 100%;
  }
  .home-container18 {
    width: 100%;
  }
  .home-link4 {
    font-weight: bold;
  }
  .home-text056 {
    font-weight: bold;
  }
  .home-text058 {
    font-weight: bold;
  }
  .home-container20 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-text060 {
    font-weight: bold;
  }
  .home-text062 {
    font-weight: bold;
  }
  .home-text064 {
    margin-top: 56px;
    font-weight: bold;
  }
  .home-learning {
    padding-left: 32px;
    margin-bottom: 0px;
    padding-right: 32px;
  }
  .home-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container22 {
    height: 183px;
    flex-direction: row;
  }
  .home-step {
    padding: var(--dl-space-space-unit);
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step3 {
    padding: var(--dl-space-space-unit);
  }
  .home-step4 {
    padding: var(--dl-space-space-unit);
  }
  .home-services {
    height: 2877px;
    margin-top: 0px;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-card {
    min-width: 300x;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .home-card1 {
    min-width: 300x;
    margin-right: 0px;
  }
  .home-card2 {
    min-width: 300x;
    margin-right: 0px;
  }
  .home-card3 {
    min-width: 300x;
    margin-right: 0px;
  }
  .home-card4 {
    min-width: 300x;
    margin-right: 0px;
  }
  .home-card5 {
    min-width: 300x;
    margin-right: 0px;
  }
  .home-hire {
    height: 2141px;
  }
  .home-container23 {
    height: 2153px;
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container30 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container31 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-cv {
    width: 100%;
    height: 1007px;
    margin-top: var(--dl-space-space-tripleunit);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container02 {
    width: 479px;
  }
  .home-container03 {
    width: 114px;
  }
  .home-container04 {
    width: 105px;
    margin-bottom: 0px;
  }
  .home-text004 {
    width: 91px;
    height: 31px;
    font-size: 16px;
  }
  .home-image {
    width: auto;
    height: 40px;
  }
  .home-image1 {
    width: auto;
    height: 40px;
  }
  .home-text005 {
    font-size: 16px;
  }
  .home-container06 {
    width: 100%;
  }
  .home-container07 {
    width: 94px;
    height: 90px;
  }
  .home-text006 {
    font-size: 12px;
    font-weight: 700;
  }
  .home-ul {
    padding-left: var(--dl-space-space-unit);
  }
  .home-text007 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text008 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text009 {
    font-size: 12px;
    font-weight: 700;
  }
  .home-ul01 {
    padding-left: var(--dl-space-space-unit);
  }
  .home-text010 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text011 {
    font-size: 12px;
  }
  .home-ul02 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text012 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text013 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text014 {
    font-size: 12px;
  }
  .home-ul03 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text015 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text016 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-container11 {
    width: 99px;
  }
  .home-text017 {
    font-size: 12px;
  }
  .home-ul04 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text018 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text019 {
    font-size: 12px;
  }
  .home-ul05 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text020 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text021 {
    font-size: 12px;
  }
  .home-ul06 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text022 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text023 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text024 {
    font-size: 12px;
  }
  .home-ul07 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text025 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text026 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text027 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text028 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text029 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text030 {
    font-size: 12px;
  }
  .home-ul08 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text031 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text032 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text033 {
    font-size: 12px;
  }
  .home-ul09 {
    height: auto;
    padding-left: var(--dl-space-space-unit);
  }
  .home-text034 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text035 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text036 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .home-container17 {
    width: 345px;
    margin-left: var(--dl-space-space-unit);
  }
  .home-text037 {
    width: 343px;
    font-size: 20px;
    font-family: Overpass;
  }
  .home-text038 {
    font-size: 16px;
  }
  .home-text039 {
    font-size: 12px;
  }
  .home-ul10 {
    margin-top: 0px;
    padding-left: 0px;
  }
  .home-li20 {
    font-size: 8px;
  }
  .home-text040 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text041 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text042 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text043 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text044 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text045 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text046 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text047 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text048 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text049 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text050 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text051 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text052 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text053 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text054 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container18 {
    padding-left: 0px;
  }
  .home-container19 {
    width: 100%;
    margin-right: 20px;
  }
  .home-link4 {
    font-size: 12px;
  }
  .home-text055 {
    font-size: 10px;
  }
  .home-text056 {
    font-size: 12px;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .home-text057 {
    font-size: 10px;
  }
  .home-text058 {
    font-size: 12px;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .home-text059 {
    font-size: 10px;
  }
  .home-container20 {
    width: 476px;
  }
  .home-text060 {
    font-size: 12px;
  }
  .home-text061 {
    font-size: 10px;
  }
  .home-text062 {
    font-size: 12px;
    margin-top: var(--dl-space-space-unit);
  }
  .home-text063 {
    font-size: 10px;
  }
  .home-text064 {
    font-size: 12px;
    margin-top: var(--dl-space-space-unit);
  }
  .home-text065 {
    font-size: 10px;
  }
  .home-learning {
    height: 191px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .home-container21 {
    height: 186px;
  }
  .home-text066 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    text-align: center;
    font-family: Overpass;
    font-weight: 900;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .home-steps {
    width: 479px;
    height: 134px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .home-container22 {
    height: 127px;
  }
  .home-step {
    height: 100%;
  }
  .home-text067 {
    font-size: 12px;
  }
  .home-text068 {
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 12px;
  }
  .home-step1 {
    height: 100%;
  }
  .home-text077 {
    font-size: 12px;
  }
  .home-text078 {
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 12px;
  }
  .home-step2 {
    height: 100%;
  }
  .home-text083 {
    font-size: 12px;
  }
  .home-text084 {
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 12px;
  }
  .home-step3 {
    height: 100%;
  }
  .home-text087 {
    font-size: 12px;
  }
  .home-text088 {
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 12px;
  }
  .home-step4 {
    height: 100%;
  }
  .home-text089 {
    font-size: 12px;
  }
  .home-text090 {
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 12px;
  }
  .home-services {
    height: 1812px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-text093 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    text-align: center;
    font-family: Overpass;
    font-weight: 900;
    line-height: 1.22;
    margin-bottom: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .home-card {
    width: 287px;
    height: auto;
  }
  .home-card-heading {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-price {
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .home-card-content {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-name {
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 400;
  }
  .home-choose {
    width: auto;
    height: auto;
    font-size: 12px;
  }
  .home-card1 {
    height: auto;
  }
  .home-card-heading1 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-price1 {
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .home-card-content1 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-name1 {
    font-size: 12px;
  }
  .home-choose1 {
    font-size: 12px;
  }
  .home-card2 {
    height: auto;
  }
  .home-card-heading2 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-price2 {
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .home-card-content2 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-name2 {
    font-size: 12px;
  }
  .home-choose2 {
    font-size: 12px;
  }
  .home-card3 {
    height: auto;
  }
  .home-card-heading3 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-price3 {
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .home-card-content3 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-name3 {
    font-size: 12px;
  }
  .home-choose3 {
    font-size: 12px;
  }
  .home-card4 {
    height: auto;
  }
  .home-card-heading4 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-price4 {
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .home-card-content4 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-name4 {
    font-size: 12px;
  }
  .home-choose4 {
    font-size: 12px;
  }
  .home-card5 {
    height: auto;
  }
  .home-card-heading5 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-price5 {
    font-size: 16px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .home-card-content5 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-name5 {
    font-size: 12px;
  }
  .home-choose5 {
    font-size: 12px;
  }
  .home-container23 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text094 {
    width: 417px;
    height: 68px;
    text-align: center;
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container30 {
    align-items: center;
    flex-direction: column;
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container31 {
    margin-right: 0px;
  }
  .home-container32 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
