.nginxec2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.nginxec2-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.nginxec2-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.nginxec2-text {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.nginxec2-link {
  display: contents;
}
.nginxec2-image {
  right: -84px;
  width: 64px;
  bottom: 23px;
  height: 83px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.nginxec2-text01 {
  font-style: italic;
  margin-top: 0nits;
  font-weight: 400;
  margin-bottom: 0nits;
}
.nginxec2-text02 {
  margin-top: var(--dl-space-space-tenunits);
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-tenunits);
}
.nginxec2-text36 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-text37 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-text38 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-text39 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-text40 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-text41 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-text42 {
  font-style: normal;
  font-weight: 700;
}
.nginxec2-link1 {
  text-decoration: underline;
}
.nginxec2-text51 {
  font-style: normal;
  font-weight: 700;
}
